


.title-slide {
  background-image: url("wvu_background.png");
  background-position: 50% 50%;
  background-size: 100% 100%
  border-top: 0px solid #23373B;
  text-align: right top;
}



.title-slide h1 {
  color: white;
}
.title-slide h2, .title-slide h3 {
  color: white; 
  line-height: 1.5em;
}



.white{ color: white; }
.red{   color: red; }
.gold{ color: gold; }

.red0{  color: rgb(255, 0, 0, 0.5); }
.blue0{ color: rgb(0, 0, 255, 0.5); }




blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote p {
  display: inline;
}